* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #fff;
  background: #222;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

header,
section,
footer {
  padding: 40px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header a{
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #6f6f6f
}
header a:hover{
  color: #222
}

.hero h1{
  margin-bottom: 16px;
}


.logo  {
    height: 44px;
    width: 44px;
    display: block;
    background: url(assets/img/ava.png);
    background-size: contain;
}
/* 
.logo:hover  {
    background: url(assets/img/logo_color.svg);
} */


.hello h1{
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.hello h1 span{
  color: #666;
}

.hello img{
  width: 50px;
  /* position: absolute; */
  /* top: 0;
  right: 0; */
}

.hello p{
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  color: #999;
}
/* 
.nishtyak-wrapper{
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 28px;
}

.nishtyak{
  flex: 1;
  background: #ececec;
  border-radius: 40px;
  padding: 20px;
  min-height: 100%;
} */



.hero {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  padding: 120px 40px;
  background: #ff4d3a;
  color: white;
  text-align: center;
}

.hero__content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 1.4;
}

/* фон */
/* .hero__bg {
  position: absolute;
  inset: -50%;
  z-index: 1;
  background: radial-gradient(circle at 50% 50%, #7c8cff, transparent 60%);
  filter: blur(120px);
  opacity: 0.8;
  animation: blob 12s infinite ease-in-out;
} */
/* 
@keyframes blob {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  25% {
    transform: translate(10%, -10%) scale(1.2);
  }
  50% {
    transform: translate(-10%, 10%) scale(0.9);
  }
  75% {
    transform: translate(5%, 5%) scale(1.1);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
} */

.marquee {
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 0;

  /* font-family: "Quantico", sans-serif; */
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  overflow: hidden;
    /* эффект затухания по краям */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.marquee-wrapper{
  /* border: 1px solid #eee; */
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  /* border-radius: 8px; */
  background-color: #222;
  color: #666;
}
.marquee__inner {
  display: inline-block;
  animation: scroll 70s linear infinite;
  will-change: transform;
}
.marquee:hover .marquee__inner {
  animation-play-state: paused;
}

.marquee span {
  margin-right: 40px;
  font-size: 14px;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



.case-card {
  margin: 0 auto;
  margin: 50px 0;
  display: block;
}

.case-card img {
  display: block;
  width: 100%;
  height: auto;
}


.case-card__text{
  font-size: 20px;
  line-height: 1.3;
}
.case-card h2{
  margin-top: 16px;
  /* font-weight: 700; */
}

.case-card__text p {
  margin: 0;
  color: #6f6f6f;
}
